@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-chart-container {
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: 'BespokeSerif-Regular';
    src: url('./fonts/BespokeSerif-Regular.woff2') format('woff2'),
    url('./fonts/BespokeSerif-Regular.woff') format('woff'),
    url('./fonts/BespokeSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: waveAnimation 2s infinite linear;
}

@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    border-radius: 50%;
    background-color: #dbac34;
    margin: 10px;
    transition: all 0.5s ease; /* CSS transition for smooth animation */
}